<div class="home-container">
  <img src="assets/images/profile.jpg" alt="Your Name" class="profile-photo">
  <p class="greeting">Hello! 👋</p>
  <h1 class="name-title">My name is **Ashish Negi**</h1>
  <h2 class="profession">I'm a <span class="highlight">Front End Developer</span></h2>
  
  <p class="experience">with three years of experience.</p>

  <div class="social-links">
    <a href="mailto:negi99ashish@gmail.com.com" class="social-link">Email</a> | 
    <a href="https://github.com/Ashish99negi?tab=repositories" target="_blank" class="social-link">GitHub</a> | 
    <a href="https://www.linkedin.com/in/ashish-negi-b4936516a/" target="_blank" class="social-link">LinkedIn</a>
  </div>
</div>