<div class="main-container">
  <div class="home-container">
    <img src="assets/images/profile.png" alt="Your Name" class="profile-photo">

    <div class="hero-content">
      <p class="greeting">Hello! 👋</p>
      <h2 class="name-title">My name is <span class="highlight">Ashish Negi</span></h2>
      <h2 class="profession">I'm a Frontend Software Developer</h2>
      <div class="location">
        <span class="material-icons">location_on</span>
        <h3>Uttrakhand, India</h3>
      </div>

      <div class="social-links">
        <a href="mailto:negi99ashish@gmail.com" class="social-link">Email</a> |
        <a href="https://github.com/Ashish99negi?tab=repositories" target="_blank" class="social-link">GitHub</a> |
        <a href="https://www.linkedin.com/in/ashish-negi-b4936516a/" target="_blank" class="social-link">LinkedIn</a>
      </div>
    </div>
  </div>

  <div class="tech-stack">
    <h3>TECH STACK</h3>
    <div class="skills-grid">
      <div class="skill-box">
        <img src="assets/svg/angular1.gif" alt="Angular">
        <span>Angular</span>
      </div>
     
      <div class="skill-box">
        <img src="assets/svg/typescript.svg" alt="Typescript">
        <span>TypeScript</span>
      </div>
     
      <div class="skill-box">
        <img src="assets/svg/javascript.svg" alt="Javascript">
        <span>JavaScript</span>
      </div>
     
      <div class="skill-box">
        <img src="assets/svg/html.svg" alt="HTML">
        <span>HTML</span>
      </div>
     
      <div class="skill-box">
        <img src="assets/svg/css.svg" alt="CSS">
        <span>CSS</span>
      </div>

      <div class="skill-box">
        <img src="assets/svg/material.svg" alt="Angular Material">
        <span>Angular Material"</span>
      </div>
     
      <div class="skill-box">
        <img src="assets/svg/tailwind.svg" alt="Tailwind CSS">
        <span>TailwindCSS</span>
      </div>
     
      <div class="skill-box">
        <img src="assets/svg/bootstrap.svg" alt="Bootstrap">
        <span>Bootstrap</span>
      </div>
     
    </div>
  </div>
</div>