<nav class="bottom-nav-container">
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-icon-link">
    <span class="material-icons">home</span>
  </a>
  <a routerLink="/skills" routerLinkActive="active" class="nav-icon-link">
    <span class="material-icons">handyman</span>
  </a>
  <a routerLink="/projects" routerLinkActive="active" class="nav-icon-link">
    <span class="material-icons">work</span>
  </a>
  <a (click)="toggleTheme()" class="nav-icon-link">
    <span class="material-icons">{{ isDarkTheme() ? 'light_mode' : 'dark_mode' }}</span>
  </a>
</nav>