<!-- <nav class="bottom-nav">
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <span class="material-icons">home</span>
    <span class="nav-text">Home</span>
  </a>
  <a routerLink="/skills" routerLinkActive="active">
    <span class="material-icons">code</span>
    <span class="nav-text">Skills</span>
  </a>
  <a routerLink="/projects" routerLinkActive="active">
    <span class="material-icons">work</span>
    <span class="nav-text">Projects</span>
  </a>
  <a (click)="toggleTheme()" [ngClass]="{ 'active': isDarkTheme() }">
    <span class="material-icons">{{ isDarkTheme() ? 'light_mode' : 'dark_mode' }}</span>
    <span class="nav-text">Theme</span>
  </a>
</nav> -->
<nav class="bottom-nav-container">
  <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-icon-link">
    <span class="material-icons">home</span>
  </a>
  <a routerLink="/skills" routerLinkActive="active" class="nav-icon-link">
    <span class="material-icons">handyman</span>
  </a>
  <a routerLink="/projects" routerLinkActive="active" class="nav-icon-link">
    <span class="material-icons">work</span>
  </a>
  <a (click)="toggleTheme()" class="nav-icon-link">
    <span class="material-icons">{{ isDarkTheme() ? 'light_mode' : 'dark_mode' }}</span>
  </a>
</nav>