<div class="about-me-container">
    <div class="about-me-header">
        <div class="header-text-content">
            <h1>About Me 👋</h1>
            <p class="intro-subheading">A brief intro about me :</p>
            <span class="name-intro">I am <span class="highlight-name">Ashish Negi</span></span>
        </div>
        <div class="profile-image-wrapper">
            <img src="assets/images/profile2.jpg" alt="Ashish Negi" class="profile-square">
        </div>
    </div>
    <div class="about-me-body">
        <p>I am a Frontend Software Developer with 3+ years of experience with a strong focus on Angular, Javascript, and
            Typescript. I am passionate about building beautiful, functional, and user-friendly web applications. I have
            experience developing a lot of applications using modern Javascript frameworks and libraries and worked
            within agile teams, collaborating with product owners and backend developers to achieve successful project
            deliveries.</p>
        <p>Thank you for visiting my portfolio. I look forward to connecting with you!</p>
    </div>
</div>